.header-title {
  font-size: 1rem;
  margin: 0 0 7px 0;
}
.speaker-list {
  font-size: 14px;
  margin-bottom: 10px;
}

.speaker-list img {
  width: 50px;
  padding-right: 10px;
  border-radius: 5px !important;
}
