html {
  position: relative;
  min-height: 100%;
}

.footer-area {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #c264640e;
}

.footer-area p,
a {
  padding-top: 20px;
  color: #000;
}
